# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
venv/
.venv/
dist/
.pytest_cache/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.packages

# Docker
*.log

# IDE
.vscode/settings.json
.idea/
*.swp
DEEP_LINK_SETUP.md

# OS
.DS_Store
Thumbs.db
