# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
venv/
.venv/
dist/
.pytest_cache/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.packages

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
repomix-output.xml
.repomixignore
repomix.config.json


# OS
.DS_Store
Thumbs.db
